.main_nft {
  width: 1218px;
  margin: 0 auto;  
  border-radius: 10px;
  position: relative;
  
  section {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    max-height: 74vh;    
    height: auto;
    overflow: auto;
    
  }
  .data {
    justify-content: space-around;
    overflow: auto;
    padding: 10px;
    cursor: default;
    span:last-of-type, span:first-of-type {
      text-align: center;
     
    }
    select {
      padding: 10px;
      outline: none;
      margin-left: 10px;
      border-radius: 8px;
      font-size: 18px;
      border: 1px solid #ccc;
    }
   
  }
  header {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    justify-content: space-around;
    position: sticky;
    top: 0;
    border: none;
    padding: 20px 10px;
    span:last-of-type, span:first-of-type {
      text-align: center;
     
    }
  }
  .last_image {
    text-align: center;
   
  }
  .image {
    display: inline-block;
    height: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
 
}
.page_search {
  position: relative;
  width: 1218px;
  margin: 0 auto;
  height: 40px;
  margin-bottom: 20px;
  input[type='search'] {
    float: left;
    padding: 8px 10px 8px 50px;
    font-size: 20px;
    outline: none;
    border-radius: 40px;
    width: 250px;
  } 
  label {
    color: #fff;
    font-size: 25px;
    font-family: Roboto;
  }
  select {
    padding: 8px 10px;
    outline: none;
    margin-left: 10px;
    border-radius: 8px;
    font-size: 18px;
    border: 1px solid #ccc;
    option {
      padding: 10px;
    }
  }
  .image {
    float: left;
    margin: 10px -234px;
  }
  .pagers {
    position: absolute;
    padding: 8px 13px;
    font-size: 18px;
    background-color: #ccc;
    
    color: #fff;
    cursor: pointer;
    font-weight: 300;
    border-radius: 8px;
    font-size: 20px;    
  }
  .pagers:hover {
    color: gray;
  }
  .prev {
    left: 88%;
    top: 0;
  }
  .next {
    left: 94%;
    top: 0;
   
  } 
}

a {
  text-decoration: none;
}
.createNft {
    width: 1212px;
    margin: 0 auto;
    .pages {
      display: inline-block;
      position: absolute;
      left:0;
      b {
        display: inline-block;
        font-size: 16px;
        color: #ccc;
        cursor: pointer;
      }
      b:hover {
        color: #fff;
      }
    }
}
*::-webkit-scrollbar {
  width: 10px;
  border-radius: 20px;
}

*::-webkit-scrollbar-track {
  background: silver;
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 20px;
  width: 10px;
  
}
body::-webkit-scrollbar {
  width: 12px;               /* ширина всей полосы прокрутки */
}

body::-webkit-scrollbar-track {
  background: orange;        /* цвет зоны отслеживания */
}

body::-webkit-scrollbar-thumb {
  background-color: blue;    /* цвет бегунка */
  border-radius: 20px;
  height: 10px;   
  width: 10px;    /* округлось бегунка */
  border: 3px solid orange;  /* отступ вокруг бегунка */
}
@media screen and (max-width: 1200px) {
  .main_nft {
    width: 94%;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0;
    height: 75vh;
  }
  header,
  section {
    width: 1214px;
  }
  .page_search {
    width: 96%;
  }
}
@media screen and (max-width: 550px) {
  .main_nft {
    width: 90vw;
    overflow-x: scroll;
    box-sizing: border-box;
    margin: 0 auto;
    header {
      margin: 0;
      padding: 20px;
    }
  }
  .page_search {
    position: relative;
    width: 95%;
    height: 70px;
    margin: 0 auto 20px;
    .prev {
      left: 60%;
      top: -2px;
    }
    .next {
      left: 81%;
      top: -2px;
    }
    label {
      float: left;
      margin: 10px auto;
      
    }
    input[type="search"] {
      width: 200px;
      font-size: 15px;
      border: none;
      padding: 10px 10px 10px 50px;
    }
    .image {
      margin: 9px -191px;
    } 
  } 
 
  .main_categories b {
    width: 80%;
    margin: 0 auto;
  }
  .mobile span {
    width: 22%;
  }
 
  .createNft .pages {
   float: right;
   position: static;
   height: 30px;
  }
  *::-webkit-scrollbar {
    width: 0px;
    border-radius: 20px;
  }
  
  *::-webkit-scrollbar-track {
    background: silver;
    border-radius: 20px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 20px;
    width: 0px;
    
  }
}
