.main_block_create {
  display: flex;
  justify-content: space-between;
  width: 70vw;
  margin: 0 auto;

  .image_block {
    width: 50%;
    background: rgba(29, 0, 126);
    padding: 10px;
    height: auto;
    .image,
    .banner,
    .logo {
      width: 80%;
      height: auto;
      margin: 0 auto;
      border-radius: 10px;
      margin-bottom: 160px;
      border: 1px dashed #ddd;
      position: relative;
      background: rgba(29, 0, 126);
    }
    *::before {
      position: absolute;
      top: -50px;
      color: #fff;
      background: rgba(29, 0, 126);;
      left: 0;
      font-size: 25px;
      font-weight: 600;
    }
    .image::before {
      content: "Image";
    }
    .logo::before {
      content: "Logo";
    }
    .banner::before {
      content: "Banner";
    }
    label {
      font-size: 20px;
      font-weight: 600;
      margin: 20px auto;
      width: 40%;
      color: #fff;
      display: block;
      cursor: pointer;
    }
  }
  .data_block {
    width: 50%;
    height: auto;
    border-left: 1px solid #ddd;
    background: rgba(29, 0, 126);
    label,
    legend {
      display: flex;
      color: #fff;
      justify-content: right;
      font-size: 25px;
      margin: 0 auto 30px;
      width: 100%;
      align-items: center;
      text-align: left;
      font-weight: 600;
      input,
      textarea,
      select {
        display: block;
        border-radius: 5px;
        box-sizing: border-box;
        padding: 10px 20px;
        border: 1px solid #ddd;
        width: 340px;
        font-size: 20px;
        margin: 10px 0 0 20px;
        outline: none;
      }
    }
    .buttons {
      display: flex;
      justify-content: right;
      text-align: right;
    }
    button {
      width: 340px;
      margin-top: 30px;
    }
    .cancel {
      width: 120px;
      margin-right: 20px;
      background-color: red;
    }
  }
}
.header {
  margin: 20px 0 30px;
  border: none;
}
@media screen and (max-width: 1300px) {
  .main_block_create {
    width: 90%;
  }
}
@media screen and (max-width: 550px) {
  .header {
    font-size: 25px;
  }
  .main_block_create {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100vw;
    margin: 0 auto;
     
    .image_block,
    .data_block {
      width: 100vw;
    }
    .image_block .image,
    .image_block .banner,
    .image_block .logo {
      width: 95%;
      margin: 0 auto 50px;
    }
    .data_block label {
      font-size: 16px;
      width: 98%;
      input,
      textarea {
        width: 250px;
        margin-right: 10px;
      }
    }
  }
}
