.main_block_create {
    display: flex;
    justify-content: space-between;
    width: 70vw;
    margin: 0 auto;
   
    .image_block {
        width: 50%;
        height: 60vh;
        .image {
            width: 80%;
            height: auto;
            border-radius: 10px;
            margin-bottom: 60px;
            border: 1px solid #ddd;
            position: relative;
        }
        .image::before {
            content: 'Image';
            position: absolute;
            top: -40px;
            left: 0;
            font-size: 25px;
            font-weight: 600;

        }
        .logo {
            width: 80%;
            height: 50vh;
            margin-bottom: 60px;
            border: 1px solid #ddd;
            position: relative;
        }
        .logo::before {
            content: 'Logo';
            position: absolute;
            top: -40px;
            left: 0;
            font-size: 25px;
            font-weight: 600;

        }
        .banner {
            width: 80%;
            height: 50vh;
            margin-bottom: 60px;
            border: 1px solid #ddd;
            position: relative;
        }
        .banner::before {
            content: 'Banner';
            position: absolute;
            top: -40px;
            left: 0;
            font-size: 25px;
            font-weight: 600;

        }
        label {
            font-size: 20px;
            font-weight: 600;
            margin: 20px auto;
            display: block;
            border: 1px solid #ddd;
        }
    }
    .data_block {
        width: 50%;
        height: 60vw;
        border-left: 1px solid #ddd;
        label, legend {
            display: block;
            font-size: 25px;
            margin: 0 auto;
            padding: 20px;
            width: 50%;
            text-align: left;
            font-weight: 600;
            input {
                display: block;
                border-radius: 5px;
                padding: 10px 20px;
                width: 300px;
                font-size: 20px;
                margin: 10px 0 0;
                outline: none;
            }
        }
        button {
            width: 50%;
        }
        fieldset {
            border: none;
        }
    }
}
.header {
    margin: 20px 0 30px;
    border: none;
}