.main_block_create {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: 0 auto;
    .image_block {
        width: 30%;
        height: 60vh;
    }
    .data_block {
        width: 60%;
        height: 60vw;
        border-left: 1px solid #ddd;
        label {
            display: block;
            font-size: 25px;
            text-align: left;
            padding: 20px;
            font-weight: 600;
            input {
                display: block;
                padding: 10px 20px;
                width: 300px;
                font-size: 20px;
                margin: 20px 0;
                outline: none;
            }
        }
    }
}
.header {
    margin: 30px 0;
}