.main_block_create {
  display: flex;
  justify-content: space-between;
  width: 70vw;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  .image_block {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(29, 0, 126, 1);
    height: 60vh;
    .image,
    .banner,
    .logo {
      width: 80%;
      height: 30%;
      margin: 30px auto;
      border-radius: 5px;

      border: 1px dashed #ddd;
      position: relative;
      .close {
        float: right;
        cursor: pointer;
        color: #ccc;
      }
      .close:hover {
        color: #000;
      }
    }
    .banner:hover,
    .image:hover,
    .logo:hover {
      border: 1px solid #ddd;
      transition: all 1s;
      background-color: rgba(29, 0, 126, 0.8);
    }
    *::before {
      position: absolute;     
      display: inline-block;
      top: -35px;
      color: #fff;
      background: rgba(29, 0, 126);
      left: 0;
      font-size: 25px;
      font-weight: 400;
      font-family: "Urbanist", sans-serif;
    }
    .image::before {
      content: "Image";
    }
    .logo::before {
      content: "Logo";
    }
    .banner::before {
      content: "Banner";
    }
    label {
      font-size: 20px;
      font-weight: 400;
      margin: 20px auto;
      width: 95%;
      color: rgb(29, 0, 126);
      display: block;
      cursor: pointer;
    }
  }
  .data_block {
    width: 50%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid #ddd;
    background: rgba(29, 0, 126);
    label,
    legend {
      display: flex;
      color: #fff;
      justify-content: right;
      font-size: 25px;
      margin: 0 auto;
      width: 100%;
      font-family: "Urbanist", sans-serif;
      align-items: center;
      text-align: left;
      font-weight: 400;
      padding-left: 10px;
      input,
      textarea,
      select {
        display: block;
        border-radius: 5px;
        box-sizing: border-box;
        padding: 10px 20px;
        border: 1px solid #ddd;
        width: 340px;
        font-size: 20px;
        margin: 10px 0 0 20px;
        outline: none;
      }
      span {
        position: relative;
        margin-right: 15px;
      }
    }
    .buttons {    
      button {
        height: 45px;    
        font-size: 20px;
        border-radius: 10px;
        cursor: pointer;
        font-weight: 600;
        color: #fff;
        border: none;
        outline: none;
        margin-left: 15px;
        
      }    
      button[type="submit"] {
        width: 30%;
       
        background: linear-gradient(214.02deg, #b75cff 6.04%, #6205fa 92.95%);
      }
      .cancel {
        width: auto;
        margin: 0;
        padding: 0 15px;
        background-color: red;
      }
      .view_solscan a {
        color: #000;
      }
      .delete {
        width: auto;
        padding: 0 15px;
        background-color: green;
      }
      .minted {
        width: 20%;
        background-color: purple;
      }
    }
  }
}
.answer {
  position: fixed;
  top: 10px;
  width: 260px;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  line-height: 50px;
  transition: all 0.5s;
  background-color: #fff;
  left: calc(50vw - 130px);
}
.hide {
  top: -100px;
}
.header {
  margin: 20px 0 30px;
  border: none;
}
.new {
  margin: 30px 0;
}
@media screen and (max-width: 1300px) {
  .main_block_create {
    width: 90%;
  }
}
@media screen and (max-width: 1000px) {
  .header {
    font-size: 25px;
  }
  .main_block_create {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    .image_block,
    .data_block {
      width: 500px;
      padding: 0;
      margin: 0 auto;
      border: none;
    }
    .image_block .image,
    .image_block .banner,
    .image_block .logo {
      width: 95%;
      margin: 0 auto 50px;
    }
    .data_block label {
      font-size: 16px;
      width: 98%;
      input,
      textarea,
      select {
        width: 350px;
        margin-right: 0;
      }
    }
  }
}
@media screen and (max-width: 550px) { 
  .main_block_create {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100vw;
    margin: 0 auto 30px;
    .image_block,
    .data_block {
      width: 95vw;
      padding: 0;
      border: none;
      .buttons {
        button {
          font-size: 16px;
        }
        button[type="submit"] {
          width: 60vw;
        }
      }

    }
    .image_block::before {
      font-size: 18px;
    }
    .image_block .image,
    .image_block .banner,
    .image_block .logo {
      width: 100%;
      margin: 0 auto 50px;
      &::before {
        font-size: 16px;
        top: -23px;
      }
    }
    .data_block label {
      font-size: 16px;
      width: 98%;
      padding-left: 0;
      input,
      textarea,
      select {
        width: 60vw;
        margin: 0;
      }
    }
   
  }
}
