.main_block_create {
  display: flex;
  justify-content: space-between;
  width: 70vw;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  .image_block {
    width: 50%;
    background: rgba(29, 0, 126, 1);
    padding: 10px;
    height: auto;
    .image,
    .banner,
    .logo {
      width: 80%;
      height: auto;
      margin: 0 auto;
      border-radius: 5px;
      margin-bottom: 160px;
      border: 1px dashed #ddd;
      position: relative;
    }
    .banner:hover,
    .image:hover,
    .logo:hover {
      border: 1px solid #ddd;
      transition: all 1s;
      background-color: rgba(29, 0, 126, 0.8);
    }
    *::before {
      position: absolute;
      top: -35px;
      color: #fff;
      background: rgba(29, 0, 126);
      left: 0;
      font-size: 25px;
      font-weight: 400;
      font-family: "Urbanist", sans-serif;
    }
    .image::before {
      content: "Image";
    }
    .logo::before {
      content: "Logo";
    }
    .banner::before {
      content: "Banner";
    }
    label {
      font-size: 20px;
      font-weight: 400;
      margin: 20px auto;
      width: 40%;
      color: rgb(29, 0, 126);
      display: block;
      cursor: pointer;
    }
  }
  .data_block {
    width: 50%;
    height: auto;
    border-left: 1px solid #ddd;
    background: rgba(29, 0, 126);
    label,
    legend {
      display: flex;
      color: #fff;
      justify-content: right;
      font-size: 25px;
      margin: 0 auto 30px;
      width: 100%;
      font-family: "Urbanist", sans-serif;
      align-items: center;
      text-align: left;
      font-weight: 400;
      input,
      textarea,
      select {
        display: block;
        border-radius: 5px;
        box-sizing: border-box;
        padding: 10px 20px;
        border: 1px solid #ddd;
        width: 340px;
        font-size: 20px;
        margin: 10px 0 0 20px;
        outline: none;
      }
    }
    .buttons {
      display: flex;
      justify-content: right;
      text-align: right;
      margin-top: 30px;
    }
    button[type=submit] {
      width: 340px;
      
      background: linear-gradient(214.02deg,#b75cff 6.04%,#6205fa 92.95%);
    }
    .cancel {
      width: 120px;
      margin-right: 20px;
      background-color: red;
    }
  }
}
.answer {
  position: fixed;
  top: 10px;
  width: 260px;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  line-height: 50px;
  transition: all 0.5s;
  background-color: #fff;
  left: calc(50vw - 130px);
}
.hide {
  top: -100px;
}
.header {
  margin: 20px 0 30px;
  border: none;
}
.new {
  margin: 30px 0;
}
@media screen and (max-width: 1300px) {
  .main_block_create {
    width: 90%;
  }
}
@media screen and (max-width: 1000px) {
  .header {
    font-size: 25px;
  }
  .main_block_create {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    .image_block,
    .data_block {
      width: 500px;
      padding: 0;
      margin: 0 auto;
      border: none;
    }
    .image_block .image,
    .image_block .banner,
    .image_block .logo {
      width: 95%;
      margin: 0 auto 50px;
    }
    .data_block label {
      font-size: 16px;
      width: 98%;
      input,
      textarea,
      select {
        width: 350px;
        margin-right: 0;
      }
    }
  }
}
@media screen and (max-width: 550px) {
  .new {
    margin: 30px auto 0;
  }

  .main_block_create {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100vw;
    margin: 0 auto;
    .image_block,
    .data_block {
      width: 90vw;
      padding: 0;
      border: none;
    }
    .image_block .image,
    .image_block .banner,
    .image_block .logo {
      width: 95%;
      margin: 0 auto 50px;
    }
    .data_block label {
      font-size: 16px;
      width: 98%;
      input,
      textarea,
      select {
        width: 250px;
        margin-right: 0;
      }
    }
  }
}
