.App {
  text-align: center;
}
body {
  background-color: linear-gradient(0deg, rgba(29, 0, 126, 0.87), rgba(29, 0, 126, 0.87)), linear-gradient(180deg, #312293 0%, rgba(177, 70, 193, 0) 100%)
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}





