.App {
  text-align: center;
  background: rgba(29, 0, 126);
  width: 100vw;
  height: 100vh;
  overflow: auto;
}  
section {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  width: 100%;
}
section .data span {
  width: 10%;
}
header {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  font: 600 16px/24px 'Public Sans', sans-serif;
}
header span  {
  width: 8%;
}
header span:first-of-type {
  width: 20%;
}
body {
  background: rgba(29, 0, 126);
}
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500&family=Roboto:ital,wght@0,500;1,400&display=swap');

@media screen and (max-width: 550px) {
  header, section {
    width: 1214px;
  }
  header span:first-of-type {
    width: 15%;
  }
}






