.create_category {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 50vw;
  margin: 30px auto 0;
  color: #fff;
  font-family: 'Roboto', sans-serif; 
    .image {
      width: 80%;
      height: auto;
      border-radius: 10px;
      margin: 0 auto 10px;
      border: 1px dashed #ddd;
      position: relative;
      background-color: #fff;
      .close {
        float: right;
        cursor: pointer;
        color: #fff;
      }
      .close:hover {
        color: #000;
      }
    }
    *::before {
      position: absolute;
      top: -50px;
      left: 0;
      font-size: 25px;
      font-weight: 600;
    }
    // .image::before {
    //   content: "Image";
    // }
    
    label {
      font-size: 20px;     
      margin: 20px auto;
      width: 40%;
      display: block;     
    }
    .image label {
      color: #000;
      cursor: pointer;
      color: #fff;
      text-align: center; 
      font-weight: 400;
    }
    .image label:hover {
      color: black;
    }
    label span {
      display: inline-block;
      width: 100px;
    }
    form {
      margin-top: 130px;
    }
    label,
    legend {
      display: flex;
      justify-content: right;
      font: 400 25px/25px "Popins", sans-serif;   
      width: 80%;
      align-items: center;
      text-align: left;
      font-weight: 600;
      input,
      textarea {
        display: block;
        border-radius: 5px;
        box-sizing: border-box;
        padding: 10px 20px;
        border: 1px solid #ddd;
        width: 340px;
        font-size: 20px;
        margin: 10px 0 0 20px;
        outline: none;
      }
    }
    .buttons {
      display: flex;
      justify-content: space-between;
      text-align: center;
    }
    .size {
      width: 40%;
      margin: 0 20px;
      border: none;
    }
    .delete {
      background-color: green;
      width: auto;
      padding: 0 10px;
    }
    .delete:hover, .size:hover {
      border: 1px solid #fff;
    }
    a.cancel {
      position: static;
      width:auto;
      margin: 0;
      padding: 0 10px;
      line-height: 45px;
    }
    a.cancel:hover {
      border: 1px solid #fff;
    }
  
   
  
}
.new {
  margin: 50px 0;
}
.header {
  margin: 20px 0 30px;
  border: none;
}
@media screen and (max-width: 1300px) {
  .main_block_create {
    width: 90%;
  }
  .new {
    margin: 10px 0;
  }
}
@media screen and (max-width: 550px) {
  .header {
    font-size: 25px;
  }
  .new {
    margin: 10px auto 0;
  }
  .create_category {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100vw;
    margin: 0 auto;

    .image_block,
    .data_block {
      width: 100vw;
    }
    .image {
      width: 95%;
      margin: 0 auto;
    }
     label {
      font-size: 16px;
      width: 95%;
      justify-content: right;
      input,
      textarea {
        width: 60vw;
        
      }
    }
  }
}
