.header {
  color: #000;
  padding: 20px 50px;
  margin: 0;
  border-bottom: 1px solid black;
  text-align: center; 
}
.mainblockuser {
  background: linear-gradient(0deg, rgba(29, 0, 126, 0.87), rgba(29, 0, 126, 0.87)), linear-gradient(180deg, #312293 0%, rgba(177, 70, 193, 0) 100%)
}
header,
.data {
  display: flex;
  
  justify-content: space-around;
  font-size: 20px;
  width: 1240px;
  border-bottom: 1px solid #E3E5E5;
  margin: 0 auto;
  background-color: #fff;
  text-align: center;
  align-items: center;
  span,
  label {
    width: 8%;
    display: inline-block;
  }
}
section {
  width: 1240px;
  margin: 0 auto;
  padding: 10px;
  background-color: #fff;
}
header {
  border-bottom: 1px solid black;
  font-size: 25px;
  font-weight: 600;
  padding: 20px 0;
}
.block_view {
  position: fixed;
  top: 20vh;
  padding: 20px;
  right: 40vw;
  width: 20vw;
  height: auto;
  transition: all 0.5s;
  background-color: #fff;
  box-shadow: 0 0px 8px 0px rgba(34, 60, 80, 0.2);
}
.block_hide {
  position: fixed;
  top: 20vh;
  transition: all 0.5s;
  right: 40vw;
  opacity: 0;
  overflow: hidden;
  width: 20vw;
  height: auto;
  background-color: #fff;
  box-shadow: 0 0px 8px 0px rgba(34, 60, 80, 0.2);
}
button {
  height: 45px;
  width: 65%;
  font-size: 20px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
  color: #fff;
  border: none;
  outline: none;
}
button:first-of-type {
  background-color: red;
  width: 30%;
}
button:last-of-type {
  background-color: #007bff;
}
button:hover {
  opacity: 0.7;
  border-color: rgba(200, 255, 255, 1);
}
.block_button {
  display: flex;
  margin-top: 30px;
  justify-content: space-around;
}
.data_edit {
  span {
    display: block;
    font-size: 20px;
    margin: 20px;
  }
}
.header_edit {
  padding-bottom: 30px;
  font-size: 25px;
  border-bottom: 1px solid #000;
}

input[type="checkbox"] {
  width: 25px;
  height: 25px;
  margin: 0 20px;
}
textarea {
  width: 90%;
  padding: 10px 20px;
  outline: none;
  font-size: 20px;
  display: block;
}
span:first-of-type {
  font: 500 20px/25px 'Roboto' , sans-serif;
}
b {
  font-size: 30px;
  margin: 0 10px 30px;
  display: block;
}
span img {
  margin-left: 5px;
  vertical-align: middle;
  opacity: 0;
  padding: 3px;
  float: right;
  border: 1px solid white;
}
span:hover img {
  opacity: 1;
  cursor: pointer;
}
img:active {
  border: 1px solid blue;
}
  
@media screen and (max-width: 1450px){
      .data span,header{
        font-size: 16px;
      }
      p.data {
        padding: 10px 0;
      }
     .data span:first-of-type {
       font-size: 13px;
     }
 
}
@media screen and (max-width: 550px){
  .header_users {
    padding: 0;
    margin: 0;
  }
  .mainblockuser {
    width: 100vw;
    overflow: scroll;
  }
  header,.data {
    width: 1000px;
  }
  .block_view {
    width: 84vw;
    left: 10px;
  }
  p.data {
    padding: 5px 0;
  }

}
