.mainNavBlock {
  display: flex;
  justify-content: space-around;
  font-size: 25px;
  line-height: 25px;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
  margin-bottom: 50px;
  border-bottom: 1px solid #ddd;
  a {
    padding: 20px;
    width: 30%;
  }
  a:hover {
    border-bottom: 1px solid #000;
    text-align: center;
  }
}
@media screen and (max-width: 550px) {
  .mainNavBlock {
    align-items: center;

    .mobileNo {
      display: none;
    }
    a {
      font-size: 16px;
      line-height: 16px;
      padding: 5px;
      width: 33%;
    }
  }
}
