.mainNavBlock {
    display: flex;
    justify-content: space-around;   
    font-size: 25px;
    line-height: 25px;
    font-weight: 600;
    text-decoration: none;
    margin-bottom: 50px;
    border-bottom: 1px solid #ddd;
    a:hover {
        border-bottom: 1px solid #000;
    }
}