.create_nft {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 70%;
  margin: 30px auto;
  color: #fff;
  font-family: "Roboto", sans-serif;
  .image {
    width: 50%;
    height: 600px;
    border-radius: 10px;
    margin: 0 auto;
    border: 1px dashed #ddd;
    position: relative;
    background-color: #fff;
  }
  *::before {
    position: absolute;
    top: -50px;
    left: 0;
    font-size: 20px;
    font-weight: 400;
  }
  .image::before {
    content: "";
  }
  .inputs {
    width: 50%;
  }
  label {
    font-size: 20px;
    margin: 0 auto 30px;
   
    display: block;
  }
  .image label {
    color: #000;
    cursor: pointer;
    font-weight: 400;
    margin: 20px auto;
  }
  .image label:hover {
    color: gray;
  }
 
  form {
    margin-top: 130px;
  }
  label {
    display: flex;
    justify-content: right;
    font-size: 25px;
    align-items: center;
    text-align: left;
    font-weight: 600;
   
    span {
      display: inline-block;
      width: 35%;
      position: relative;
      margin-right: 15px;
    }
    input,
    textarea,
    select,
    button {
      display: block;
      border-radius: 9px;
      box-sizing: border-box;
      padding: 10px 20px;
     
      width: 60%;
      font-size: 20px;
      margin: 0 0 0 20px;
      outline: none;
    }
  }
 
  .buttons {   
    button {
      height: 45px;    
      font-size: 20px;
      border-radius: 10px;
      cursor: pointer;
      font-weight: 600;
      color: #fff;
      border: none;
      outline: none;
      width: 30%;
      margin-left: 15px;
    }
   
    button[type="submit"] {
      width: 30%;     
      background: linear-gradient(214.02deg, #b75cff 6.04%, #6205fa 92.95%);
    }
    .cancel {
      width:auto;     
      background-color: red;
      &:hover {
        opacity: 0.8;
      }
      
    }
    .delete {
      width: auto;
      background-color: green;
      margin-left: 15px;
    }
    .minted {
      width: 20%;
      background-color: purple;
    }
   
  }

}
.image_title {
  font-size: 15px;
  color: gray;
}
.new {
  margin: 20px auto 10px;
}

.header {
  margin: 20px 0 30px;
  border: none;
}
@media screen and (max-width: 1280px) {
  .create_nft {
    width: 95vw;
    .buttons {
      .cancel {
        width: auto;
      }
    }
  }
}
 
@media screen and (max-width: 550px) {
  .header {
    font-size: 25px;
  }
  .create_nft {
    flex-direction: column;
    
  
    .image {
      width: 95%;
      height: 95vw;
    }
    .inputs {
      width: 95%;
      margin: 30px auto;
    }

  }
  
  
  
}
