.main_categories {
  b {
    height: 52px;
    box-sizing: border-box;
    width: 200px;    
    padding: 10px 20px;
    color: #fff;
    line-height: 26px;
    margin: 20px auto;
    font-family: 'Popins', sans-serif;
    background: linear-gradient(214.02deg, #B75CFF 6.04%, #6205FA 92.95%);
    border-radius: 10px;
  }
  .image {
    display: inline-block;
    height: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .data:hover {
    background-color: #ddd;
    cursor: pointer;
  }
}
a {
  text-decoration: none;
}
@media screen and (max-width: 550px) {
  .mainblock_categories .data,
  .mainblock_categories .header_categories {
    width: 100%;
  }
  .main_categories b {
    width: 20%;
  }
  .mobile span {
    width: 22%;
  }
}
