.main_preminted {
    b {
        float: right;
        padding: 0 20px 10px;
        line-height: 35px;
        border: 1px solid #ddd;
        margin: 0 100px;
        font-weight: 400;
        color: #fff;
        background-color: red;
    }
    .image {
        display: inline-block;
        height: 70px;
        width: 70px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}