.data {
    padding: 20px 0;
    margin: 0;
}
.data:hover {
    background-color: #c9c9c9;
    cursor: pointer;
}
.right_block_view {
    position: fixed;
    top: 0;
    padding: 20px;
    right: 0;
    width: 350px;
    height: 100vw;
    transition: all 0.5s;
    background-color: #fff;
    box-shadow: -7px 0px 8px 0px rgba(34, 60, 80, 0.2);
}
.right_block_hide {
    position: fixed;
    top: 0;
    transition: all 0.5s;
    right: -401px;
    width: 400px;
    height: 100vw;
    background-color: #fff;
    box-shadow: -7px 0px 8px 0px rgba(34, 60, 80, 0.2);
button {
    height: 45px;
    width: 65%;
    font-size: 20px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
    border: none;
    outline: none;

}
button:first-of-type {
    background-color: red;
    width: 30%;
}
button:last-of-type {
    background-color: #007bff;
}
button:hover {
    opacity: 0.7;  
    border-color: rgba(200,255,255,1);
       
}
.block_button {
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
}
.data_edit {
    span {
        display: block;
        font-size: 20px;
        margin: 20px;
    }
}
.header_edit {
    padding-bottom:  30px;
    font-size: 25px;
    border-bottom: 1px solid #000;
}

input[type='checkbox'] {
    width: 25px;    
    height: 25px;
    margin: 0 20px;
}

b {
    vertical-align: super;
    font-size: 20px;
    display: inline-block;
    width: 25%;
}