.create_category {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 50vw;
  margin: 0 auto; 
    .image {
      width: 80%;
      height: auto;
      border-radius: 10px;
      margin: 0 auto 160px;
      border: 1px dashed #ddd;
      position: relative;
    }
    *::before {
      position: absolute;
      top: -50px;
      left: 0;
      font-size: 25px;
      font-weight: 600;
    }
    .image::before {
      content: "Image";
    }

    label {
      font-size: 20px;
      font-weight: 600;
      margin: 20px auto;
      width: 40%;
      display: block;
      cursor: pointer;
    }

    label,
    legend {
      display: flex;
      justify-content: center;
      font-size: 25px;
      margin: 0 auto 30px;
      width: 100%;
      align-items: center;
      text-align: left;
      font-weight: 600;
      input,
      textarea {
        display: block;
        border-radius: 5px;
        box-sizing: border-box;
        padding: 10px 20px;
        border: 1px solid #ddd;
        width: 340px;
        font-size: 20px;
        margin: 10px 0 0 20px;
        outline: none;
      }
    }
    .buttons {
      display: flex;
      justify-content: right;
      text-align: right;
    }
    button {
      width: 340px;
      margin-top: 30px;
    }
    .cancel {
      width: 120px;
      margin-right: 20px;
      background-color: red;
    }
  
}
.header {
  margin: 20px 0 30px;
  border: none;
}
@media screen and (max-width: 1300px) {
  .main_block_create {
    width: 90%;
  }
}
@media screen and (max-width: 550px) {
  .header {
    font-size: 25px;
  }
  .create_category {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100vw;
    margin: 0 auto;

    .image_block,
    .data_block {
      width: 100vw;
    }
    .image_block .image {
      width: 95%;
      margin: 0 auto 50px;
    }
     label {
      font-size: 16px;
      width: 88%;
      input,
      textarea {
        width: 250px;
        margin-right: 10px;
      }
    }
  }
}
