.main_categories {
    width: 1218px;
    margin: 0 auto;
    padding: 0 20px;
    border-radius: 10px;
  b {
    width: 30%;
    padding: 0 20px 10px;
    line-height: 35px;
    border: 1px solid #ddd;
    margin: 40px auto 0;
    font-weight: 400;
    color: #fff;
    background-color: red;
  }
  section {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
  }
  header {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }
  .image {
    display: inline-block;
    height: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .data:hover {
    
    cursor: pointer;
  }
}
a {
  text-decoration: none;
}
@media screen and (max-width: 550px) {
  .main_categories {
    width: 100vw;
    overflow: hidden;
  }
  .data_categories .data, .header_categories {
    width: 100%;
  }
  .main_categories b {
    width: 80%;
    margin: 0 auto;
  }
  .mobile span {
    width: 22%;
  }
  .header {
    margin: 0;
  }
}
