$submit: #007bff;
$white: #007bff;
$transition: all 0.25s ease-in-out;
.mainblock {
    width: 440px;
    height: auto;
    padding: 20px;
    background-color: #f2f7f7;
    margin: 20vw auto;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 30%);
    border-radius: 10px;
    font-size: 25px;    
    input, button {
        font-size: 20px;
        padding: 10px 20px;
        display: block;
        width: 100%;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin: 10px auto 20px;
        cursor: pointer;
        box-sizing: border-box;
        outline: none;
    }
    label, button {
        width: 80%;
        text-align: left;
        margin: 0 auto 30px;
        display: block; 
    }
    button {
        text-align: center;
        font-weight: 800;
    }
    
    @mixin mybutton($color_1, $color_2) {       
        border: 2px solid $color_1;      
       
        letter-spacing: 1px;
        text-transform: uppercase;
          color: #fff;
        background-color: $color_2;
          transition: $transition;
          &:hover {
              background-color: $color_1;
              border-color: $color_1;
              opacity: 0.8;
              color: #fff;
          }
          &:active {
              background-color: $color_1;
              border-color: $color_1;
              color: $color_2;
              box-shadow: none;
          }
          &:focus, &:active:focus {
              background-color: $color_1;
              border-color: $color_1;
              color: $color_2;
              outline: 5px auto $color_1;
          }         
      }
      
    button {
       
            @include mybutton($submit, $white);
       
    }
}