.App {
  text-align: center;
  background: rgba(29, 0, 126);
  width: 100vw;
  height: 100vh;
  overflow: auto;
}  
section {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  width: 100%;
  padding-bottom: 20px;
  font-family: 'Roboto', sans-serif;
}
.data span {
  width: 10%;
  font: 300 20px/28px "Roboto", sans-serif;
  color:  #585858;
  
}
.button {
  height: 50px;
  box-sizing: border-box;
  width: 200px;    
 
  color: #fff;    
  margin: 20px auto;
  font: 400 22px/50px 'Popins', sans-serif;
  background: linear-gradient(214.02deg, #B75CFF 6.04%, #6205FA 92.95%);
  border-radius: 10px;
}
.cancel {
  width: 120px;
  margin-right: 20px;  
  text-align: center;
  background: red;
}
header {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  font: 600 16px/24px 'Public Sans', sans-serif;
}
header span  {
  width: 10%;
}
header span:first-of-type, section p span:first-of-type {
  width: 17%;
}
section .data span.count {
  font: 500 20px/28px 'Roboto', sans-serif;
  color: #000;

}  
section p span:first-of-type {
  color: #000;

}
a {
  color: #fff;
}
body {
  background: rgba(29, 0, 126);
}
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500&family=Roboto:ital,wght@0,500;1,400&display=swap');

@media screen and (max-width: 550px) {
  header, section {
    width: 1214px;
  }
  header span:first-of-type, section p span:first-of-type {
    width: 13%;
  }
}






